<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        function A() {
            alert(1);
        }

        function Fn() {
            A = function() {
                alert(2);
            }
            return this;
        }
        Fn.A = A;
        // 这里Fn添加了A()函数，所以当Fn.A()的时候返回的是alert(1)
        Fn.prototype = {
            A: () => {
                alert(3);
            }
        }
        A(); //"1"
        Fn.A(); //"2"  1
        Fn().A(); //"2" 这里的Fn函数先执行，把A()换成了alert(2),返回了this，this为window，.A()就返回2
        new Fn.A(); //"3" 1  这里的实例也是1
        new Fn().A(); //"3"
        new new Fn().A();
    </script>
</body>

</html>